/*body*/
body {
  margin:0px;;
  padding:0px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
/* header */
header h2 {
  text-align: center;
  background-color:burlywood;
  color: black;
  margin-top: auto;
}
header div {
display: flex;
gap: 200px;
}
header div h3 {
  font-size: small;
}
/* navigation*/
nav ul {
  display: flex;
  gap:5px;
  list-style-type: none;
  font-size: smaller;
}

nav a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 220, 203);
}
nav ul li ul{
  background-color: white;
  position: relative;
  list-style: none;
  display: block;
}
/* hero section*/
main img{
  width: 950px;
  height: 400px;
  padding: 20px;
  margin: 5px;
}