/*body*/
body {
  margin: 20px;;
  padding: 10px;;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
/* header */
header {
  text-align: center;
  background-color:burlywood;
  color: black;
}
/* navigation*/
nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
nav a {
  text-decoration:none;
  color: black; 
}
nav a :hover{
    color: purple;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 209, 122);
}